@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #0a0a0a, #373838);
  background: linear-gradient(to right, #0a0a0a, #373838);
  font-family: 'Roboto', sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body { height: 2000px; }

.sideBanner {
  position: absolute;
  margin-top: 60px;;
  width: 150px;
  height: 200px;
  top: 50px;
  padding: 40px;
}
.sideBanner img{
    width: 100px;
    height: 100px;
}
.header{
    width: 100%;
    height: 150px;
    /* border: 1px solid red; */
}

.header .inner{
    height: inherit;
    position: relative;  
}

.header .inner a{
    color: red;
    padding-left: 30px;
    font-size: 100px;
}

.header .inner h1{
    color: white;
    margin-top: 50px;
    text-align: center;
}

.header .inner .submenu{
    display: flex;
    position: absolute;
    bottom: 50px; 
    right: 10px;
}

.header .inner .submenu ul{
    display: flex;
}

.header .inner .submenu ul li a{
    color: white;
    padding: 3px;
    font-size: 20px;
    font-weight: 800;
}





/* demo styles */
.figure {
    width: 70%;
    margin: auto;
    color: white;
}
.figure .inner{
   margin: 50px;
}

.figure .inner .gap{

}
.figure .inner .btn{
    text-align: right;
}





.footer{
    margin: auto;
    text-align: center;
    width: 70%;
    height: 200px;
    padding-top: 300px;
    /* border: 1px solid blue; */
}
.figure .inner{
    position: relative;
}
.footer .inner .upper ul{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer .inner .upper ul li{
    color: blueviolet;
    padding: 5px;
}
.footer .inner .under{
    opacity: 0.6;
    margin-top: 7px;
    line-height: 1.9;
    font-size: small;
    color: white;
}